@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lato:wght@700&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    font-family: 'Lato', sans-serif;
}

.outer-box {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #04664d, #04dcf9);
}

.inner-box {
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 40px;
    background: linear-gradient(to bottom right, #eb6803, #eaff00);
    /* background-color:#ecdcdccc; */
    backdrop-filter:blur(5px);
    border-radius: 20px;
    box-shadow:9px 9px 5px #030e01;
    z-index:2;
}

.signup-header h1 {
    font-size: 2.5rem;
    color: #212121;
    text-align:center;
    text-shadow: -5px 5px 5px #464242;
}

.signup-header p {

    font-size: 0.9rem;
    color: #555;
    text-align:center;
}

.signup-body {
    margin: 20px 0;
}

.signup-body p {
    margin: 10px 0;
}

.signup-body p label {
    display: block;
    font-weight:bold;

}

.signup-body p input {
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(60 166, 159);
    border-radius: 5px;
    Font-size: 1rem;
    margin-top: 2px;
}

.signup-body p input[type="submit"] {
    background-color: #0f4e05;
    border:none;
    border-radius:100px;
    color:rgb(255, 255, 255);
    cursor:pointer;

}

.signup-body p input[type="submit"]:hover{
    background-color:rgb(10, 244, 34);
}

.signup-footer p{
color:#555;    
text-align:center;
margin:0;

}

.signup-footer p a{
    color:rgb(16, 110, 234);
}

.circle{
    width:200px;
    height:200px;
    border-radius:100px;
    
    position:absolute;
}

.c1{
    top:100px;
    left:40px;
    background:linear-gradient(to top right,#00e1ff,#ffffffff);
}

.c2{
    bottom:100px;
    right:40px;
    background:linear-gradient(to top left ,#04664d,#ffffffff);
}
